@model Team

@{
	ViewData["Title"] = "Update";
}

<h1>Update Team</h1>
<div>
	<form method="post" asp-action="update" enctype="multipart/form-data">
		<div class="row">
			<div class="mb-3 col-md-3">
				<label asp-for="FullName" class="form-label">FullName</label>
				<input class="form-control" asp-for="FullName" placeholder="FullName">
				<span class="text-danger" asp-validation-for="FullName"></span>
			</div>
			<div class="mb-3 col-md-2">
				<label asp-for="Perssion" class="form-label">Perssion</label>
				<input class="form-control" asp-for="Perssion" placeholder="Perssion">
				<span class="text-danger" asp-validation-for="Perssion"></span>
			</div>

			@*<div class="mb-3  col-md-2">
			<label asp-for="" class="form-label"></label>
			<input class="form-control" asp-for="RedirecUrlText" placeholder="RedirecUrlText">
			</div>*@
			<@*div class="mb-3 col-md-2">
				   <label asp-for="Desc" class="form-label">Desc</label>
				   <textarea style="width:500px" height:100px class="form-control" asp-for="Desc" placeholder="Desc"></textarea>
				   </div>*@
			<div class="mb-3 col-md-2" style="margin-bottom:20px">
				<label asp-for="FormFile" class="form-label"> FormFile</label>
				<input class="form-control" asp-for="FormFile" placeholder="FormFile">
				<span class="text-danger" asp-validation-for="FormFile"></span>
			</div>
			<div class="mb-3 col-md-2" style="margin-bottom:20px">
				<label asp-for="FURL" class="form-label">FURL</label>
				<input class="form-control" asp-for="FURL" placeholder="FURL">
				<span class="text-danger" asp-validation-for="FURL"></span>
			</div>
			<div class="mb-3  col-md-2 ">
			<label asp-for="IURL" class="form-label">IURL</label>
			<input class="form-control" asp-for="IURL" placeholder="IURL">
			<span class="text-danger" asp-validation-for="IURL"></span>
			</div>
			<div class="mb-3  col-md-2 ">
			<label asp-for="TURL" class="form-label">TURL</label>
			<input class="form-control" asp-for="TURL" placeholder="TURL">
			<span class="text-danger" asp-validation-for="TURL"></span>
			</div>
			
			@*<div class="mb-3 col-md-2" style="margin-bottom:20px">
				<label asp-for="URl" class="form-label">URl</label>
				<input class="form-control" asp-for="URl" placeholder="URl">
				<span class="text-danger" asp-validation-for="URl"></span>
			</div>*@
			<div style="display:flex; justify-content:center;align-items:center">

				<button type="submit" class="btn btn-primary">Update</button>
	</form>
</div>

